
  <%= render partial: '/welcome/navbar' %>

  <div class="container">
  <div class="row" id="about" >
    <div class="col-sm-4 col-md-offset-1"  >
      <div style="margin-top:  5em;">
        <h1 style="font-color: black; font-weight: 300; text-align: center" >About Us</h1><br>
          <div style="color: black; font-weight: 300; font-size: 1.2em;">
            For property manangers and building owners, the logistics involved in managing a builidng of several hundred residents can be quite daunting. Here at Front Desk, we provide you a centralized platform, integrating every departmental operation, and providing a streamlined product that will automate nearly every process involved in managing builidng operations, including; monthly financial reconciliation, scheduleing maintenance, reservation of spaces and direct communication between management and resident. <h5></h5>
          </div> 
      </div>
     </div> 
    <div class="col-sm-2 ">
    </div>
    <div class="col-sm-4 ">
      <a href="#computer"><img src="https://i.imgur.com/f9cv8ey.png" id="iphone2"/></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <img src="https://i.imgur.com/vaVpbtE.jpg" id="computer"/>
    </div> 

    <div class="col-sm-5" >
      <div id="whyuseus">
      <h1 style="font-color: black; font-weight: 300; text-align: center" >Why Use Us</h1><br>
          <div style="color: black; font-weight: 300; font-size: 1em; ">
            Our goal is for Front Desk to become the standard interface when it comes to managing apartment complexes. By employing our program, your are able to improve operational efficiency, reduce labor costs, centralize all communication records, and deliver an overall increase in value to each and every tennant. The best part of all, is that our app is available for use for free and comes backed by a professional team of experienced web developers. 
        </div>
      </div>
     </div> 
  </div>     
</div>  



    <%= render partial: '/welcome/footer' %>


